mixin page($controller, $action, $variant)
  div(
      data-controller="#{$controller}" 
      data-action="#{$action}"
      data-variant="#{$variant}"
  )
    if block
      block

mixin c($name, $variant)
  div(data-component="#{$name}" data-variant="#{$variant}")
    if block
      block

mixin b($name, $variant)
  div(data-block="#{$name}" data-variant="#{$variant}")
    if block
      block
