.docs-nav(data-ks-navbar)
  nav
    ul
      li.navbar-title
        h1 Documentation
        button(role="button") =
      li(class="#{subMenuItem == 'getstarted' ? 'active' : ''}")
        | Get Started
        ul
          li: a(href="/docs/#{docsVersion}") Quickstart
          li: a(href="/docs/#{docsVersion}/ui/") Layout and CSS
          li: a(href="/docs/#{docsVersion}/grid/") Grid
          li: a(href="/docs/#{docsVersion}/theming/") Theming
          li: a(href="/docs/#{docsVersion}/adding-extensions/") Adding extensions
          li: a(href="/docs/#{docsVersion}/creating-extensions/") Creating extensions
      li(class="#{subMenuItem == 'components' ? 'active' : ''}")
        | Components
        ul
          li: a(href="/docs/#{docsVersion}/ui/alerts") Alerts
          li: a(href="/docs/#{docsVersion}/ui/buttons") Buttons
          li: a(href="/docs/#{docsVersion}/ui/containers") Containers
          li: a(href="/docs/#{docsVersion}/ui/forms") Forms
          li: a(href="/docs/#{docsVersion}/ui/icons") Icons
          li: a(href="/docs/#{docsVersion}/ui/labels") Labels
          li: a(href="/docs/#{docsVersion}/ui/modals") Modals
          li: a(href="/docs/#{docsVersion}/ui/navigation") Navigation
          li: a(href="/docs/#{docsVersion}/ui/notifications") Notifications
          li: a(href="/docs/#{docsVersion}/ui/tables") Tables
          li: a(href="/docs/#{docsVersion}/ui/tabs") Tabs
          li: a(href="/docs/#{docsVersion}/ui/tooltips") Tooltips
          li: a(href="/docs/#{docsVersion}/ui/typography") Typography
          li: a(href="http://kickstart.everything.io/components") More...

      li(class="#{subMenuItem == 'functions' ? 'active' : ''}")
        | Functions
        ul
          li: a(href="/docs/#{docsVersion}/functions/throttling") Throttling
          li: a(href="/docs/#{docsVersion}/functions/element-selector") Element Selector
          li: a(href="/docs/#{docsVersion}/functions/extend") Extend

    ul
      li
        | #{currentVersion}
        ul
          li: a(href="http://getkickstrap.com.s3-website-us-east-1.amazonaws.com/1.x/") 1.5.0
          li: a(href="http://getkickstrap.com.s3-website-us-east-1.amazonaws.com/2.x/") 2.0.8
          li: a(href="/docs/#{docsVersion}") *#{currentVersion} (current)
          li: a(href="/docs/4.x") 4 (Future plans)
