// Mixins
mixin available-colors($prefix)
  :markdown
    Available colors include: 

      - `#{$prefix}-red`
      - `#{$prefix}-orange`
      - `#{$prefix}-yellow`
      - `#{$prefix}-green`
      - `#{$prefix}-blue`
      - `#{$prefix}-violet`

    You may also use your theme's primary and secondary colors via `#{$prefix}-primary` and `#{$prefix}-secondary` 

mixin screen-sizes
  :markdown
    Available screen size variables:

    - `$phone`
    - `$phablet`
    - `$tablet`
    - `$desktop`
    - `$large-monitor`
    - `$xl-monitor`
