.document
  article.article.article-full
    h1 Decoupled
    p While different sizes of text can be selected with the h1-h6 tags, this fringes on using HTML for styling. The level of a heading should dictate its hierarchy, but not necessarily its size.
    p For this reason, a set of heading <span class="ifnot-semantic">classes</span><span class="if-semantic">mixins</span> are available that can be added to the heading tags. Notice in each example below, an h1 tag is used, although the sizes vary.

- for size in ['xxl', 'xl', 'lg', 'md', 'rg', 'sm', 'xs', 'xxs']
  .document
    article.article
      h2 Size #{size}

      .example
        h1(class="#{size} toc-exempt") Hello World

    article.code 
      .if-semantic
        pre.if-semantic
          code h1.#{size} {
            |   @include heading-#{size}();
            | }
            | &nbsp;
            | &lt;h1 class="#{size}"&gt;Hello World&lt;/h1&gt;
      .ifnot-semantic
        pre
          code &lt;h1 class="#{size}"&gt;Hello World&lt;/h1&gt;
