.main-navigation(data-ks-navbar)
  nav
    ul
      - var xml = fs.readFileSync('lib-docs/img/kickstart.svg')
      li.navbar-title
        a(href="/")
          != xml
          <svg class="svg-logo-small"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-logo"></use></svg>
        button(role="button") =
      li: a(href="/") Home
      li: a.blue-link(href="/docs/4.x/page-generator" class="#{menuItem == 'page-generator' ? 'active' : ''}") Page Generator
      li: a.blue-link(href="/docs/4.x/ui" class="#{menuItem == 'ui-library' ? 'active' : ''}") UI Library
      li: a.blue-link(href="/docs/4.x/advanced" class="#{menuItem == 'advanced' ? 'active' : ''}") Advanced
      li
        a(href="http://kickstart.everything.io")
          span.fa.fa-cubes
          | Store

    ul
      li: a(href="/amadeus" class="#{menuItem == 'amadeus' ? 'active' : ''}") Amadeus
      li
        a.button.button-primary(href="/docs/#{docsVersion}/" role="button")
          span.fa.fa-cloud-download
          |  Get Started
