.docs-nav(data-ks-navbar)
  nav
    ul
      li.navbar-title
        h1 Page Generator
        button(role="button") =
      li(class="#{subMenuItem == 'es6' ? 'active' : ''}")
        a(href="/docs/4.x/page-generator/writing-in-es6-7") Writing in ES6-7
      li(class="#{subMenuItem == 'coffeescript' ? 'active' : ''}")
        a(href="/docs/4.x/page-generator/coffeescript") Coffeescript
      li(class="#{subMenuItem == 'sass-scss' ? 'active' : ''}")
        a(href="/docs/4.x/page-generator/sass-scss") Sass/SCSS
      li(class="#{subMenuItem == 'testing' ? 'active' : ''}")
        a(href="/docs/4.x/page-generator/testing") Testing

    ul
      li
        | 4.x
        ul
          li: a(href="http://getkickstrap.com.s3-website-us-east-1.amazonaws.com/1.x/") 1.5.0
          li: a(href="http://getkickstrap.com.s3-website-us-east-1.amazonaws.com/2.x/") 2.0.8
          li: a(href="/docs/#{docsVersion}") #{currentVersion} (current)
          li: a(href="/docs/#{nextDocsVersion}") *4 (Future plans)
